

/* General Styles */

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    overflow-x: hidden;
}

/* Top Styles */

#top{
    background: #555555;
    padding: 10px 0;
}
#top .offer{
    color: #ffffff;
}

@media(max-width: 991px){
    #top .offer{
        margin-bottom: 10px;
    }
}
@media(max-width: 991px){
    #top{
        font-size: 12px;
        text-align: center;
    }
}
#top a{
    color: #ffffff;
}
#top ul.menu{
    padding-top: 5px;
    margin: 0px;
    text-align: right;
    font-size: 12px;
    list-style: none;
}
@media(max-width: 991px){
    #top ul.menu{
        padding: 0;
        text-align: center;
    }
}
#top ul.menu > li{
    display: inline-block;
}
#top ul.menu > li a{
    color: #eeeeee;
}
#top ul.menu > li + li:before{
    content: "|\00a0";
    color: #f7f7f7;
    padding: 0 5px;
}

/* Header Styles */

.navbar{
    background: #ffffff;
}
.navbar-collapse .right{
    float: right;
}
.navbar-brand{
    float: left;
    padding: 10px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 70px;
}
.navbar-brand:hover,
.navbar-brand:focus{
    text-decoration: none;
}
.navbar ul.nav > li > a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}
.navbar ul.nav > li > a:hover{
    background: #eee;
}
.padding-nav{
    padding-top: 10px;
}
.btn-primary{
    color: rgb(255, 255, 255);
    background: rgb(79, 191, 168);
    border-color: rgb(65, 179, 156);
    transition: background .3s ease-in-out;
}
#search .navbar-form{
    float: right;
}
#search{
    clear: both;
    border-top: solid 1px #9adacd;
    text-align: right;
    transition: all .3s ease;
}
#search .navbar-form .input-group{
    display: table;
}
#search .navbar-form .input-group .form-control{
    width: 100%;
}
#slider{
    margin-bottom: 40px;
}

/* advantages Styles */

#advantages{
    text-align: center;
}
.box{
    background: #ffffff;
    margin-bottom: 30px;
    border: solid 1px #e6e6e6;
    padding: 40px 20px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .15);
}
.box-1 {
    height: 150px;
    transform: scale(1);
    transition: transform .3s ease-in-out;
}
.box-1:hover{
    transform: scale(1.1);
}
#advantages .box .icon{
    position: absolute;
    font-size: 100px;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    color: #cee;
    z-index: 1;
}
#advantages .box h3{
    position: relative;
    margin: 0 0 20px;
    font-weight: 300;
    text-transform: uppercase;
    z-index: 2;
}
#advantages .box h3 a{
    color: #4fbfa8;
    font-weight: bold;
}
#advantages .box h3 a:hover{
    text-decoration: underline;
}
#advantages .box p{
    position: relative;
    z-index: 2;
    color: #555555;
}

/* Latest Products Styles */

#hot h2,
.shop-title h2{
    font-size: 36px;
    font-weight: 400;
    color: #4fbfa8;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0 30px;
    margin: 0;
}
#hot h2:hover,
.shop-title h2:hover{
    cursor: pointer;
    text-decoration: underline;
}
#content{
    padding-left: 25px;
}
.single{
    width: 290px;
}
@media(max-width:768px){
    .single{
        width: 60%;
        margin: 0 auto;
    }
}
#content .product{
    background: #ffffff;
    border: solid 1px #e6e6e6;
    margin-bottom: 30px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .15);
}
#content .product .box-img {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media(max-width:1199px) {
    #content .product .box-img {
        height: 250px;
    }
}
@media(max-width:991px) {
    #content .product .box-img {
        height: 200px;
    }
}
@media(max-width:770px) {
    #content .product .box-img {
        height: 270px;
    }
}
#content .product .box-img .img-responsive {
    object-fit: cover;
}
@media(max-width:770px) {
    #content .product .box-img .img-responsive {
        height: 250px;
        object-fit: cover;
    }
}
#content .product .text{
    padding: 10px 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#content .product .text p.price{
    font-size: 18px;
    text-align: center;
    font-weight: 400;
}
#content .product .text .button{
    text-align: center;
    clear: both;
}
#content .product .text .button .btn{
    margin-bottom: 10px;
}
#content .product .text h3{
    text-align: center;
    font-size: 20px;
}
#content .product .text h3 a{
    color: rgb(85, 85, 85);
}

/*  Breadcrumb Styles  */

.breadcrumb{
    padding: 8px 15px;
    margin-bottom: 20px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .15);
}
.breadcrumb> li + li:before{
    content: ">\00a0";
    color: #cccccc;
}
@media(max-width:991px){
    .breadcrumb{
        padding: 8px 0px;
        text-align: center;
    }
}

/*  Products Categories & Categories Styles */
#content .panel.sidebar-menu{
    box-sizing: border-box;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .15);
}
#content .panel.sidebar-menu ul.nav.category-menu{
    margin-bottom: 20px;
}
#content .panel.sidebar-menu ul.nav.category-menu li a{
    text-transform: uppercase;
    font-weight: 600;
}
#content .panel.sidebar-menu h3{
    padding: 5px 0px;
    margin: 0px;
}

/*  Shop Products styles  */

@media(max-width: 768px){
    .center-responsive{
        width: 70%;
        margin: 0px auto;
    }
}
@media(max-width: 550px){
    .center-responsive{
        width: 95%;
        margin: 0px auto;
    }
}

/*  Details.php Styles */


#content #productMain{
    margin-bottom: 30px;
}
#content #productMain table tr {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}
#content #productMain table td {
    margin-right: 10px;
}
#content #productMain .price{
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin-top: 30px;
}
#content #mainImage{
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .2);
}
@media(max-width:772px) {
    #content #mainImage{
        margin-bottom: 30px;
    }
}
#content #thumbs a{
    display: block;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .5);
    border: 2px solid transparent;
}
#content .headline{
    height: 305px;
}

/*  Cart.php Styles  */

#content #cart .table tbody tr td img{
    width: 50px;
}
#content #cart .table tbody tr td input{
    width: 40px;
    text-align: right;
}
#content #cart .table tbody tr td{
    vertical-align: middle;
}
#content #cart .table tfoot{
    font-size: 18px;
}
.box .box-footer{
    background-color: #f7f7f7;
    margin: 30px -20px 20px;
    padding: 20px;
    border-top: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
}
@media(max-width:600px) {
    .box .box-footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .box .box-footer .pull-left,
    .box .box-footer .pull-right a{
        margin-bottom: 10px;
    }
    .box .box-footer .pull-right{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
}
.box .box-header{
    background-color: #f7f7f7;
    margin: -20px -20px 20px;
    padding: 20px;
    border-top: 1px solid #eeeeee;
}
#content #order-summary table{
    margin-top: 20px;
}
#content #order-summary table td{
    color: #999999;
}
#content #order-summary table tr.total td,
#content #order-summary table tr.total th{
    font-size: 18px;
    color: #555555;
    font-weight: 700;
}


/*  Footer Styles  */

#footer{
    color: #fff;
    background: #31B0D5;
    padding: 20px 0;
}
#footer a{
    color: #ccc;
    padding: 0;
    text-decoration: none;
}
#footer a:hover{
    color: #eec;
}
#footer ul{
    list-style: none;
    padding-left: 0px;
}
#footer .social{
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#footer .social a{
    margin-left: 10px;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    font-size: 15px;
    text-align: center;
    background: #555;
    text-decoration: none;
}
#footer .social a:hover{
    color: #555;
    background: #fff;
}
#footer .form-control input ::placeholder{
    color: #ccc;
}
/*  Copyright Styles  */

#copyright{
    background: #333333;
    color: #cccccc;
    padding: 20px 0px;
    font-size: 12px;
}
#copyright p{
    margin: 0px;
}